<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styleMain.css">
    <title>Luke Skywalker</title>
</head>

<body>

<header class="background">
    <ul id="menue">
        <li><a href="/jediOrder">BACK</a></li>
    </ul>
    <h3>May the knowledge be with you . . .Luke Skywalker</h3>

       <div class="warriors">
        <<<<<<< HEAD
        <img src="/images/warriors/Light/LukeSkywalker/Luke1.png" alt="Luke Skywalker">
        =======
        <img src="/images/warriors/Light/LukeSkywalker/Luke1.png" alt="Luke Skywalker">
        >>>>>>> origin/master
    </div>
</header>


<section>


    <div>
        Luke Skywalker, a Force-sensitive human male, was a legendary Jedi Master who fought in the Galactic Civil
        War during the reign of the Galactic Empire. Along with his companions, Princess Leia Organa and General
        Han Solo, Skywalker served on the side of the Alliance to Restore the Republic—an organization committed
        to the downfall of the Galactic Empire and the restoration of democracy. Following the war, Skywalker
        became a living legend, and was remembered as one of the greatest Jedi in galactic history.

    </div>

    <br>
    <hr>
    <br>

    <div class="content">
        <div class="paragraph">
            The son of Jedi Knight Anakin Skywalker and Senator Padmé Amidala, Luke Skywalker was born along with his
            twin sister, Leia, in 19 BBY. As a result of Amidala's death and Anakin's fall to the dark side of the
            Force, the Skywalker children were separated and sent into hiding, with Leia adopted by the royal family
            of Alderaan while Luke was raised by his relatives on Tatooine. Longing for a life of adventure and
            purpose, Skywalker joined the Rebellion and began learning the ways of the Force under the guidance of
            Jedi Master Obi-Wan Kenobi, whose first apprentice was Luke's own father. During the Battle of Yavin
            in 0 BBY, Skywalker saved the Alliance from annihilation by destroying the Empire's planet-killing
            superweapon, the Death Star. He continued his training in the years that followed, determined to become
            a Jedi Knight like his father before him, and found a new mentor in Grand Master Yoda. After his master's
            death, Skywalker participated in the Battle of Endor in 4 ABY, during which he confronted the Sith Lord
            Darth Vader, whom he learned was in fact his father, Anakin Skywalker. With Luke's help, Anakin returned
            to the light side of the Force by destroying the Emperor at the cost of his own life, fulfilling his
            destiny as the Chosen One.
        </div>

        <div class="paragraph">
            <img src="/images/warriors/Light/LukeSkywalker/Luke2.png" alt="Luke Skywalker">
        </div>

        <div style="clear: both"></div>
    </div>

    <div class="content">
        <div class="paragraph">
            <img src="/images/warriors/Light/LukeSkywalker/Luke3.png" alt="Luke Skywalker">
        </div>

        <div class="paragraph">
            With the Sith's destruction and the subsequent capitulation of the Empire in 5 ABY, Luke Skywalker traveled
            across the galaxy, searching for knowledge that would aid him in rebuilding the Jedi Order. One of his
            apprentices was his sister's son, Ben Solo, who inherited the Skywalker bloodline's raw strength and
            potential for limitless power. The loss of his nephew, who fell to the dark side like Vader before him,
            haunted Skywalker for the rest of his life. In addition, the destruction of his nascent Order convinced
            him that the time had come for the Jedi to end. He therefore sought exile on the distant world of Ahch-To,
            having elected to live out his remaining days as a hermit while ignoring the galaxy's pleas for help during
            the rise of the First Order. His solitude was interrupted in 34 ABY, shortly after the fall of the
            New Republic, resulting in a chain of events that led Skywalker to play one last, momentous role in
            the conflict between light and darkness. Although he passed away into the Force, his legend would spread
            throughout the galaxy, rekindling a spark of hope in the enemies of the First Order. Before his death,
            Skywalker declared that the Jedi Order would not die with him, having trained a final apprentice:
            the Jakku scavenger known as Rey.

            Though having found peace and purpose, Luke Skywalker's adventures on the realm of the living had not
            ended yet. The next year, upon the mysterious return of Darth Sidious, Luke reappeared again as a Force
            ghost when Rey intended to exile herself on Ahch-To upon realizing that Sidious was her grandfather.
            However, much like Rey convinced him that he wasn't a failure, Luke convinced her that her legacy wasn't
            defined by her bloodline and encouraged her to face the Emperor in a confrontation where Luke and many
            other deceased Jedi aided Rey to destroy Sidious as Ben redeemed himself. Afterwards, his nephew and sister
            joined him in the Force and Luke's spirit, as well as Leia's, allowed Rey to adopt their surname to
            continue the Skywalker legacy.
        </div>

        <div style="clear: both"></div>
    </div>

</section>

<footer>
    Source: Luke Skywalker | Wookieepedia | Fandom
    <br><br>
    Read more: <a href="https://starwars.fandom.com/wiki/Luke_Skywalker"
                  target="_blank">https://starwars.fandom.com/wiki/Luke_Skywalker</a>
</footer>

</body>

</html>