<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styleMain.css">
    <title>Mace Windu</title>
</head>

<body>

<header class="background">
    <ul id="menue">
        <li><a href="/jediOrder">BACK</a></li>
    </ul>
    <h3>May the knowledge be with you . . .Mace Windu</h3>

    <div class="warriors">
        <img src="/images/warriors/Light/MaceWindu/MaceWindu1.png" alt="Mace Windu">
    </div>
</header>


<section>


    <div>
        Mace Windu, a Force-sensitive human male, was a revered Jedi Master and member of the Jedi High Council
        during the last years of the Galactic Republic. During his time in the Jedi Order, he once served as elected
        leader of the Jedi and, during the Clone Wars, as a Jedi General in the Grand Army of the Republic. He was
        the greatest champion of the Jedi Order and promoted its ancient traditions amidst the growing influence of
        the dark side of the Force in the corrupt, declining days of the Republic.

    </div>

    <br>
    <hr>
    <br>

    <div class="content">
        <div class="paragraph">
            When the Separatist Crisis spawned the birth of the Confederacy of Independent Systems and sparked the
            Clone Wars, Windu and the Jedi rallied to the defense of the Republic and became the leaders of the Grand
            Army of the Republic. Throughout the war, Windu served the Jedi and the Republic in various capacities—on
            the battlefield in command of the clone army, on Coruscant as an overseer of the war effort and an advisor
            to Supreme Chancellor Sheev Palpatine, and even as a diplomat to contested worlds, despite his disdain of
            politics. His exploits on the frontline served as a reminder of his reputation as a renowned Jedi warrior.
        </div>

        <div class="paragraph">
            <img src="/images/warriors/Light/MaceWindu/MaceWindu1.png" alt="Mace Windu">
        </div>

        <div style="clear: both"></div>
    </div>

    <div class="content">
        <div class="paragraph">
            <img src="/images/warriors/Light/MaceWindu/MaceWindu1.jpg" alt="Mace Windu">
        </div>

        <div class="paragraph">
            As the war drew to a close, Windu became increasingly suspicious of the chancellor's motives, as Palpatine
            had amassed near-dictatorial control over the Galactic Senate, and sensed the rising power of the dark
            side in the galaxy. His suspicions were confirmed when Anakin Skywalker, a Jedi Knight and the Chosen One
            of ancient prophecy, discovered that Palpatine was Darth Sidious, the Dark Lord of the Sith who manipulated
            the Republic and the Separatist Alliance into war. Windu, along with Jedi Masters Kit Fisto, Agen Kolar
            and Saesee Tiin, confronted Palpatine with the intention of arresting him. Instead, the Dark Lord attacked
            them, striking them down one by one until only Windu was left. Windu bested Palpatine in the confrontation
            and—deciding the chancellor was too dangerous to be left alive due to his influence over the
            government—prepared to strike him down, but the intervention of Anakin Skywalker, who saved the
            chancellor's life, led to Windu's death. As a result, Skywalker fell to the temptation of the dark side
            and was renamed Darth Vader.

            Windu's actions led Palpatine to brand the Jedi as traitors to the Republic. The chancellor executed
            Order 66 and clone troopers across the galaxy turned against and killed their Jedi leaders, marking the
            fall of the Jedi Order. Palpatine transformed the Republic into the Galactic Empire and the Emperor's new
            regime promoted anti-Jedi sentiment across the galaxy. Through propaganda, the Empire portrayed Windu as
            the leader of a criminal gang of Jedi who caused the outbreak of the Clone Wars. In spite of the propaganda,
            some of Windu's actions were remembered with fondness; General Cham Syndulla, who served alongside Windu
            during the Battle of Ryloth, remembered Windu with great respect and told the tale of how Windu helped him
            liberate Ryloth during the war.
        </div>

        <div style="clear: both"></div>
    </div>

</section>

<footer>
    Source: Mace Windu | Wookieepedia | Fandom
    <br><br>
    Read more: <a href="https://starwars.fandom.com/wiki/Mace_Windu"
                  target="_blank">https://starwars.fandom.com/wiki/Mace_Windu</a>
</footer>

</body>

</html>