<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styleMain.css">
    <title>Obi-wan_Kenobi</title>
</head>

<body>

<header class="background">
    <ul id="menue">
        <li><a href="/jediOrder">BACK</a></li>
    </ul>
    <h3>May the knowledge be with you . . .Obi_van Kenobi</h3>

    <div class="warriors">
        <img src="/images/warriors/Light/Obi/Obi-wan_Kenobi1.png" alt="Obi-wan_Kenobi">
    </div>
</header>


<section>


    <div>
        Obi-Wan Kenobi was a Force-sensitive human male and a legendary Jedi Master and member of the Jedi High
        Council during the Fall of the Republic. During the Age of the Empire, he went by the alias of Ben Kenobi
        in order to hide from the regime that drove the Jedi to near extinction in the aftermath of the Clone Wars.
        A noble man known for his skills with the Force, Kenobi trained Anakin Skywalker as his Padawan, served as
        a Jedi General in the Grand Army of the Republic, and became a mentor to Luke Skywalker prior to his
        death in 0 BBY.

    </div>

    <br>
    <hr>
    <br>

    <div class="content">
        <div class="paragraph">
            Born on the planet Stewjon in 57 BBY, Kenobi was inducted into the Jedi Order at a young age and became
            the apprentice of Qui-Gon Jinn after completing his initial lessons under Grand Master Yoda. During the
            Invasion of Naboo in 32 BBY, Kenobi defeated the Sith Lord Darth Maul and was awarded the status of Jedi
            Knight. Kenobi also began training Anakin Skywalker, having promised his dying master that the boy would
            become a Jedi, but often had to rein in his adventure-seeking apprentice. Over the years, Kenobi became
            concerned that Skywalker's powers made him arrogant but also regarded him as a good friend and a brother,
            and ultimately believed that Skywalker was in fact the Chosen One destined to restore balance to the
            Force by destroying the Sith.
        </div>

        <div class="paragraph">
            <img src="/images/warriors/Light/Obi/Obi-wan_Kenobi2.png" alt="Obi-wan Kenobi">
        </div>

        <div style="clear: both"></div>
    </div>

    <div class="content">
        <div class="paragraph">
            <img src="/images/warriors/Light/Obi/Obi-wan_kenobi3.png" alt="Obi-wan_Kenobi">
        </div>

        <div class="paragraph">
            When the Clone Wars began in 22 BBY, the Jedi rallied to defend the Galactic Republic against the
            Confederacy of Independent Systems, and Kenobi became a general in the newly-formed Republic Military.
            Kenobi and Skywalker often served alongside each other, leading their respective clone trooper
            divisions, the 7th Sky Corps, and the 501st Legion, against the Separatist Droid Army. However,
            in 19 BBY, Skywalker fell to the dark side of the Force due to the manipulation of Darth Sidious,
            embracing his new identity as the Sith Lord Darth Vader and playing a crucial role in the
            near-extermination of the Jedi Order. Kenobi, who was betrayed by his soldiers as a result
            of Order 66, confronted his fallen apprentice on Mustafar. The ensuing lightsaber duel between
            the former friends concluded when Vader was maimed at the hands of his one-time master, who withdrew
            into exile with Skywalker's newborn son.

            For two decades Kenobi lived as a hermit on the planet Tatooine, located in the Outer Rim Territories,
            hiding from the Galactic Empire that replaced the Republic. When Princess Leia Organa beseeched him
            to join their Rebel cause in 0 BBY, Kenobi was prepared to join the Alliance to Restore the Republic
            and also decided that the time had come for Luke Skywalker to become a Jedi like his father before him.
            However, their journey to Alderaan became a rescue operation upon discovering that the princess had been
            taken as a prisoner to the Death Star. While attempting to help his allies escape from the battle station,
            Kenobi encountered Vader, now rebuilt as a cyborg and forced to rely on an armored suit with life support
            technology in order to survive. Though he initially defended himself, Kenobi ultimately sacrificed himself,
            allowing Vader to strike him down as the Rebels fled on the Millennium Falcon. Yet death was not the
            end of Obi-Wan Kenobi, having learned to preserve his identity in the Force, Kenobi became a Force
            spirit and was therefore able to continue guiding Luke on the path to Jedi Knighthood.
        </div>

        <div style="clear: both"></div>
    </div>

</section>

<footer>
    Source: Obi van Kenobi | Wookieepedia | Fandom
    <br><br>
    Read more: <a href="https://starwars.fandom.com/wiki/Obi-Wan_Kenobi"
                  target="_blank">https://starwars.fandom.com/wiki/Obi-Wan_Kenobi</a>
</footer>

</body>

</html>