<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styleMain.css">
    <title>Saesee Tiin</title>
</head>

<body>

<header class="background">
    <ul id="menue">
        <li><a href="/jediOrder">BACK</a></li>
    </ul>
    <h3>May the knowledge be with you . . .Saesee Tiin</h3>

    <div class="warriors">
        <img src="/images/warriors/Light/SaeseeTiin/SaeseeTiin.png" alt="Saesee Tiin">
    </div>
</header>


<section>


    <div>
        Saesee Tiin, a Force-sensitive Iktotchi male from the moon Iktotch, was a Jedi Master who served on the
        Jedi High Council during the last years of the Galactic Republic. A skilled lightsaber combatant and
        starfighter pilot, Tiin fought in the Clone Wars as a Jedi General of the Grand Army of the Republic.
        He was slain by Darth Sidious when the Jedi confronted the Sith Lord, who was revealed to be the true
        identity of Supreme Chancellor Palpatine.

    </div>

    <br>
    <hr>
    <br>

    <div class="content">
        <div class="paragraph">
            A male Iktotchi born on the moon Iktotch, Saesee Tiin was eventually promoted to the rank of Jedi
            Master and appointed to a seat on the Jedi High Council prior to the blockade of Naboo by the Trade
            Federation. Master Qui-Gon Jinn, who had been sent by Supreme Chancellor Finis Valorum to end the blockade
            alongside his Padawan Obi-Wan Kenobi, came before the council after rescuing Queen Padmé Amidala and
            bringing her to Coruscant. He told the council that he believed he had encountered a Sith Lord on Tatooine
            and that a slave he freed, Anakin Skywalker, was the Chosen One. The council was skeptical of Jinn's
            claims and denied him permission to train Anakin due to him being too old. After Jinn was slain on Naboo
            by Darth Maul, Tiin and the council attended his funeral and decided to let Kenobi train Skywalker
            fulfilling Jinn's dying wish.[4]
        </div>

        <div class="paragraph">
            <img src="/images/warriors/Light/SaeseeTiin/SaeseeTiin.png" alt="Saesee Tiin">
        </div>

        <div style="clear: both"></div>
    </div>

    <div class="content">
        <div class="paragraph">
            <img src="/images/warriors/Light/SaeseeTiin/SaeseeTiin.png" alt="Saesee Tiin">
        </div>

        <div class="paragraph">
            Master Tiin had natural telepathic powers that were superior to most other Jedi and was an ace
            starfighter pilot.[16] He was also a skilled swordsman, something he proved numerous times during
            the Clone Wars.[source?] He was present at the opening foray on Geonosis and was among the small
            circle of survivors that escaped from the Petranaki arena.
        </div>

        <div style="clear: both"></div>
    </div>

</section>

<footer>
    Source: Saesee Tiin | Wookieepedia | Fandom
    <br><br>
    Read more: <a href="https://starwars.fandom.com/wiki/Saesee_Tiin"
                  target="_blank">https://starwars.fandom.com/wiki/Saesee_Tiin</a>
</footer>

</body>

</html>