<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styleMain.css">
    <title>Yoda</title>
</head>

<body>

<header class="background">
    <ul id="menue">
        <li><a href="/jediOrder">BACK</a></li>
    </ul>
    <h3>May the knowledge be with you . . .Yoda</h3>

    <div class="warriors">
        <img src="/images/warriors/Light/Yoda/yoda.png" alt="Yoda">
    </div>
</header>


<section>


    <div>
        Yoda, a Force-sensitive male being belonging to a mysterious species, was a legendary Jedi Master
        who witnessed the rise and fall of the Galactic Republic, followed by the rise of the Galactic Empire.
        Small in stature but revered for his wisdom and power, Yoda trained generations of Jedi, ultimately serving
        as the Grand Master of the Jedi Order. Having lived through nine centuries of galactic history, he played
        integral roles in the Clone Wars, the rebirth of the Jedi through Luke Skywalker, and unlocking the path
        to immortality.

    </div>

    <br>
    <hr>
    <br>

    <div class="content">
        <div class="paragraph">
            Born in 896 BBY, Yoda was almost nine hundred years old in the latter days of the Republic. A leading
            member of the Jedi High Council, his contemporaries included other legendary Masters such as Mace Windu
            and Ki-Adi-Mundi. During the Invasion of Naboo in 32 BBY, the maverick Qui-Gon Jinn introduced Anakin
            Skywalker to the High Council, believing with absolute certainty that he had discovered the prophesied
            Chosen One. The Jedi elders sensed that the boy was full of fear and anger and declined to train him,
            deeming Skywalker too old and emotionally compromised to commit himself to the Jedi Code. After Jinn's
            death during the liberation of Naboo, the High Council reversed their decision in spite of Yoda's continued
            opposition to Skywalker's apprenticeship, having sensed grave danger in his training. At the same time,
            the Jedi discovered that their ancient nemesis, the Sith, had returned after a millennium in hiding.
            Aware of the Rule of Two, Yoda was convinced that at least one more Sith Lord remained active following
            Obi-Wan Kenobi's victory over the Sith apprentice Darth Maul.
        </div>

        <div class="paragraph">
            <img src="/images/warriors/Light/Yoda/yoda_face.png" alt="Yoda's face">
        </div>

        <div style="clear: both"></div>
    </div>

    <div class="content">
        <div class="paragraph">
            <img src="/images/warriors/Light/Yoda/yoda_m.jpg" alt="Yoda">
        </div>

        <div class="paragraph">
            Over the next decade, the galaxy was on the verge of civil war with entire star systems—led by Count Dooku,
            Yoda's one-time Padawan—threatening to secede from the Republic by 22 BBY. Unable to defend the entire
            Republic on their own, the Jedi took command of the newly-formed Grand Army of the Republic, with Yoda
            himself leading an army of clone troopers against the Separatist Droid Army of the Confederacy of Independent
            Systems in the first battle of the Clone Wars. For three years Yoda led the Republic military's war effort as
            a Jedi General, determined to bring a swift and decisive end to the conflict, but his efforts were undermined
            by Darth Sidious, the Dark Lord of the Sith who conspired to destroy the Jedi and restore the Sith to power.
            After the Great Jedi Purge commenced in 19 BBY, killing thousands of Jedi both on Coruscant and across the
            galaxy, Yoda confronted the self-declared Galactic Emperor but failed to cut short Sidious' reign and
            consequently retreated into exile, leaving the Sith Master to consolidate his power with a new apprentice,
            the former Anakin Skywalker-turned-Darth Vader, at his side. His remaining years were spent living in
            isolation on the remote world of Dagobah until Anakin's son Luke Skywalker sought out the legendary Grand
            Master in the hope of becoming a Jedi Knight. A year later, with his health rapidly declining,
            Yoda died of old age and became one with the Force in 4 ABY.
        </div>

        <div style="clear: both"></div>
    </div>

</section>

<footer>
    Source: Yoda | Wookieepedia | Fandom
    <br><br>
    Read more: <a href="https://starwars.fandom.com/wiki/Yoda" target="_blank">https://starwars.fandom.com/wiki/Yoda</a>
</footer>

</body>

</html>