<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--    content="width=device-width-->
    <meta charset="UTF-8">
    <title>Jedi Creation Panel</title>
    <!--    <link rel="stylesheet" th:href="@{/styles.css}"/>-->
</head>

<script>
    function playBackgroundMusic() {
        var backgroundAudio = document.createElement("audio");
        backgroundAudio.src = '/sounds/Yoda.mp3';
        backgroundAudio.preload = "auto";
        backgroundAudio.play();
    }
</script>


<style>
    /*.column {*/
    /*    float: left;*/
    /*    width: 50%;*/
    /*    padding: 10px;*/
    /*}*/
    /*.firstRow:after {*/
    /*    content: "";*/
    /*    display: table;*/
    /*    clear: both;*/
    /*}*/

    .columnAppearance {
        float: left;
        padding: 5px;
        align-content: center;
    }
    .rowAppearance::after {
        content: "";
        clear: both;
        display: table;
    }

</style>


<!--<body>-->
<body onload="playBackgroundMusic()">

<!--<h1 align="top">Compose your favorite Jedi fighter</h1>-->
<!--<img th:src="@{/images/Jedi_academy.png}" alt="Jedi academy logo"-->
<!--     style="width: 35%; height: 35%; transform: rotate(90deg);-->
<!--     display: block; margin-left: auto; margin-right: auto"/>-->

<img th:src="@{/images/ReturnOfTheJedi.png}" alt="Jedi academy logo" id="welcomeBanner"
     style="width: 50%; height: 50%; display: block; margin-left: auto; margin-right: auto"/>

<hr width="50%" color="black">

<form method="POST" th:object="${cook_your_own_jedi}">

    <div align="center" class="firstRow">

        <div class="column" id="side">
            <h3>Power's side:</h3>
            <div th:each="jediFeature : ${side}">
                <input name="side" type="radio" th:value="${jediFeature.id}"/>
                <span th:text="${jediFeature.name}">JEDI_FEATURE</span><br/>
            </div>
        </div>

        <div class="column" id="lightsaber">
            <h3>Lightsaber's color:</h3>
            <div th:each="jediLightsaber : ${lightsaber}">
                <input name="lightsaber" type="radio" th:value="${jediLightsaber.id}"/>
                <span th:text="${jediLightsaber.name}">JEDI_FEATURE</span><br/>
            </div>
        </div>
    </div>


    <div align="center" class="secondRow">
        <div class="column" id="strength">
            <h3>Strength:</h3>
            <div th:each="jediStrength : ${strength}">
                <input name="strength" type="radio" th:value="${jediStrength.id}"/>
                <span th:text="${jediStrength.name}">JEDI_FEATURE</span><br/>
            </div>
        </div>
    </div>

<!--    <div align="center" class="thirdRow">-->
<!--        <div class="column" id="appearance">-->
<!--            <h3>Appearance:</h3>-->
<!--            <div th:each="jediAppearance : ${appearance}">-->
<!--                <input name="appearance" type="radio" th:value="${jediAppearance.id}"/>-->
<!--                <span th:text="${jediAppearance.id}">JEDI_FEATURE</span><br/>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <div align="center" class="rowAppearance">
        <div align="center" class="column" id="appearance">
            <h3>Appearance:</h3>
            <div align="center" class="columnAppearance" th:each="jediAppearance : ${appearance}">
                <input name="appearance" type="radio" th:value="${jediAppearance.name}"/>
                <img th:attr="src=@{'/images/warriors/' + ${jediAppearance.id} + '.png'}" style="height: 100px; width: auto">
            </div>
        </div>
    </div>




    <!-- th:value <- przekazuje do pola name="features" wartość id -->


    <hr width="50%" color="black">

    <div align="center">
        <h4>Your own Jedi name:</h4>
        <input type="text" th:field="*{name}">
        <br/><br/>
        <button>Cook your Jedi ! :)</button>
    </div>

</form>
</body>
</html>