<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Jedi Panel</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Management panel for new Jedi creation and Jedi Order set"/>
    <meta name="keywords" content="Jedi, StarWars"/>
    <meta http-equiv="X-UA-Compatibile" content="IE=edge,chrome=1"/>
    <meta name="author" content="Rav the entry level Jedi warrior:)"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>


<script>
    function playBackgroundMusic() {
        var backgroundAudio = document.createElement("audio");
        backgroundAudio.src = '/sounds/Yoda.mp3';
        backgroundAudio.preload = "auto";
        backgroundAudio.play();
    }
</script>


<body>
<!--<body onload="playBackgroundMusic()">-->


<img th:src="@{/images/ReturnOfTheJedi.png}" alt="Jedi academy logo" id="welcomeBanner"
     style="width: 50%; height: 50%; display: block; margin-left: auto; margin-right: auto"/>


<form method="POST" th:object="${cook_your_own_jedi}">

    <div id="container">

        <div class="row">
            <div class="select" id="side">
                <h3>Power side:</h3>
                <div th:each="jediFeature : ${side}">
                    <input name="side" type="radio" th:value="${jediFeature.id}"/>
                    <span th:text="${jediFeature.name}">SIDE</span><br/>
                </div>
            </div>

            <div class="select" id="order">
                <h3>Jedi Order:</h3>
                <div th:each="order : ${order}">
                    <input name="order" type="radio" th:value="${order.id}"/>
                    <span th:text="${order.name}">ORDER</span><br/>
                </div>
            </div>

            <div class="select" id="lightsaber">
                <h3>Lightsaber color:</h3>
                <div th:each="jediLightsaber : ${lightsaber}">
                    <input name="lightsaber" type="radio" th:value="${jediLightsaber.id}"/>
                    <span th:text="${jediLightsaber.name}">LIGHTSABER</span><br/>
                </div>
            </div>

            <div style="clear: both"></div>
        </div>


        <div class="row">
            <div class="select" id="strength">
                <h3>Strength:</h3>
                <input name="strength" type="text" th:field="*{strength}"/>
                <span class="errorVerification"
                      th:if="${#fields.hasErrors('strength')}"
                      th:errors="*{strength}">Strength needs to be greater than 1 and lower than 1 000 !</span>
            </div>

            <div style="clear: both"></div>
        </div>



        <div class="row">
            <div id="appearance">
                <h3>Appearance:</h3>
                <div class="jediAppearance" th:each="jediAppearance : ${appearance}">
                    <input name="appearance" type="radio" th:value="${jediAppearance.id}"/>
                    <img th:attr="src=@{'/images/warriors/' + ${jediAppearance.id} + '.png'}" style="height: 100px; width: auto">
                </div>

                <div style="clear: both"></div>
            </div>
        </div>

        <!-- th:value <- przekazuje do pola name="features" wartość id -->

        <div class="row">
            <div align="center">
                <h4>Your own Jedi name:</h4>
                <input type="text" th:field="*{name}">
                <br/><br/>
                <button>Cook your Jedi ! :)</button>
            </div>
        </div>

    </div>

</form>
</body>
</html>