<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Jedi Creation Panel</title>
</head>

<script>
    function playBackgroundMusic() {
        var backgroundAudio = document.createElement("audio");
        backgroundAudio.src = '/sounds/Yoda.mp3';
        backgroundAudio.preload = "auto";
        backgroundAudio.play();
    }
</script>


<style>

</style>


<body onload="playBackgroundMusic()">
<!--<h1 align="top">Compose your favorite Jedi fighter</h1>-->
<!--<img th:src="@{/images/Jedi_academy.png}" alt="Jedi academy logo"-->
<!--     style="width: 35%; height: 35%; transform: rotate(90deg);-->
<!--     display: block; margin-left: auto; margin-right: auto"/>-->

<img th:src="@{/images/ReturnOfTheJedi.png}" alt="Jedi academy logo"
     style="width: 100%; height: 100%; display: block; margin-left: auto; margin-right: auto"/>




    <form method="POST" th:object="${cook-your-own-jedi}">
<!--        <div class="grid">-->
<!--            <div class="side-group" id="dark"></div>-->
<!--            <h3>Select the power's side</h3>-->
<!--            <div th:each="side : ${dark}">-->
<!--                <input name="jediSets" type="checkbox" th:value="${JediSet.setID}"/>-->
<!--                <span th:text="${JediSet.setID}">JEDI_SET</span><br/>-->
<!--            </div>-->
<!--        </div>-->
    </form>

</body>

</html>