<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Confirm Your Jedi</title>
</head>

<script>
    function playBackgroundMusic() {
        var backgroundAudio = document.createElement("audio");
        backgroundAudio.src = '/sounds/All_systems.mp3';
        backgroundAudio.preload = "auto";
        backgroundAudio.play();
    }
</script>

<body>
<!--<body onload="playBackgroundMusic()">-->

<form method="POST" th:action="@{/new_jedi_on_the_board}" th:object="${new_jedi_confirmation}">
    <h1 align="center">AWESOME !!!</h1>
    <h2 align="center">Your brand new Jedi has been just baked :)</h2>

    <!-- <img th:attr="src=@{'/images/warriors/' + ${jediAppearance.id} + '.png'}" style="height: 100px; width: auto">-->

    <!--    <img th:src="@{'/images/warriors/' + ${cook_your_own_jedi.appearance} + '.png'}" alt="warrior image"-->
    <!--         style="width: 30%; height: 30%; display: block; margin-left: auto; margin-right: auto"/>-->


    <!--    <div th:if="${#fields.hasErrors()}">-->
    <!--        <span class="validationError">There is/are an/some error(s)... correct it/them</span>-->
    <!--    </div>-->

    <hr width="50%" color="black">

    <div align="center">
        <h3>Here summary of baked Jedi:</h3>
        <h4>th:text=${cook_your_own_jedi}</h4>
        <h4>............</h4>
        <h4>............</h4>
        <h4>............</h4>
    </div>

<!--    <div>-->
<!--        <span th:object="${cook_your_own_jedi}" th:text=""></span>-->
<!--    </div>-->

<!--    <a style="align-self: end" th:href="@{/cook_your_own_jedi}" id="anotherJedi">Personalize next Jedi warrior</a><br/>-->
    <a style="align-self: end" th:href="@{/cook_your_own_jedi}" id="anotherJedi" target="_blank" title="create new Jedi">Personalize next Jedi warrior</a><br/>


</form>
</body>
</html>