<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Jedi Panel</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Management panel for new Jedi creation and Jedi Order set"/>
    <meta name="keywords" content="Jedi, StarWars"/>
    <meta http-equiv="X-UA-Compatibile" content="IE=edge,chrome=1"/>
    <meta name="author" content="Rav the entry level Jedi warrior:)"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/styleMain.css">
</head>


<script>
    function playBackgroundMusic() {
        var backgroundAudio = document.createElement("audio");
        backgroundAudio.src = '/sounds/Yoda.mp3';
        backgroundAudio.preload = "auto";
        backgroundAudio.play();
    }
</script>


<body onload="playBackgroundMusic()">

<header class="background">
    <ul id="menu">
        <li><a href="/">ABOUT</a></li>
        <li><a href="#">NEW ORDER</a></li>
        <li><a class="current" href="/newWarrior">NEW WARRIOR</a></li>
        <li><a href="/jediOrder">JEDI ORDER</a></li>
        <!--        <li><a href="#">JEDI WARRIORS</a></li>-->
        <li><a href="/sithOrder">SITH ORDER</a></li>
        <!--        <li><a href="#">SITH WARRIORS</a></li>-->
    </ul>
    <h3>May the creation be with you . . . cook your own warrior :)</h3>
</header>

<form action="#" th:action="@{/newWarrior}" th:object="${warrior}" method="post">
    <div id="container">

<!--        <div style="font-size: large" th:text="${warrior}"></div>-->

        <fieldset>
            <legend>. Origin .</legend>
            <div class="row">
                <div class="select">
                    <h3>Side:</h3>
                    <div class="box" th:each="s : ${sides}">
                        <input name="side" type="radio" th:value="${s.name()}">
                        <span th:text="${s.getDesc()}">SIDE</span><br/>
                    </div>
                </div>

                <div class="select">
                    <h3>Gender:</h3>
                    <div class="box" th:each="gender : ${gender}">
                        <input name="gender" type="radio" th:value="${gender}">
                        <span th:text="${gender.getDesc()}">GENDER</span><br/>
                    </div>
                </div>

                <div class="select">
                    <h3>Species:</h3>
                    <div class="box" th:each="species : ${species}">
                        <input name="species" type="radio" th:value="${species}">
                        <span th:text="${species.getDesc()}">SPECIES</span><br/>
                    </div>
                </div>

                <div class="select">
                    <h3>Home World:</h3>
                    <div class="box" th:each="planet : ${planet}">
                        <input name="planet" type="radio" th:value="${planet}">
                        <span th:text="${planet.getDesc()}">PLANET</span><br/>
                    </div>
                </div>

                <div style="clear: both"></div>
            </div>
        </fieldset>


        <div class="row">
            <div class="select" style="width: 40%">
                <h3>Lightsaber:</h3>
                <div class="box" th:each="saber : ${lightsaber}">
                    <input name="lightsaber" type="radio" th:value="${saber}">
                    <span th:text="${saber.getDesc()}">LIGHTSABER</span><br/>
                </div>
            </div>

            <div class="select" style="width: 40%">
                <h3>Order:</h3>
                <div class="box" th:each="order : ${orders}">
                    <input name="order" type="radio" th:value="${order}">
                    <span th:text="${order.getName()}">ORDER</span><br/>
                </div>
            </div>

            <div style="clear: both"></div>
        </div>


        <fieldset>
            <legend>. Affiliation .</legend>
            <div class="row">
                <div class="select">
                    <h3>Grade:</h3>
                    <div class="box" th:each="grade : ${grade}">
                        <input name="side" type="radio" th:value="${grade}">
                        <span th:text="${grade.getDesc()}">GRADE</span><br/>
                    </div>
                </div>

                <div class="select">
                    <h3>Appearance:</h3>
                    <div class="box" th:each="app : ${appearance}">
                        <input name="appearance" type="radio" th:value="${appearance}">
                        <span th:text="${app.name()}">APPEARANCE</span><br/>
                    </div>
                </div>

                <div class="select">
                    <h3>Master:</h3>
                    <div class="box" th:each="master : ${masters}">
                        <input name="master" type="radio" th:value="${master}">
                        <span th:text="${master.getName()}">MASTER</span><br/>
                    </div>
                </div>

                <div style="clear: both"></div>
            </div>
        </fieldset>


        <div class="row">
            <div class="select">
                <h3>Strength:</h3>
                <input type="text" placeholder="chose 1 - 1000" th:field="*{strength}">
            </div>
            <div class="select">
                <h3>Name:</h3>
<!--                <input name="name" type="text" placeholder="Warrior name ..." th:field="${warrior.name}">-->
                <input type="text" th:field="${warrior.name}">
            </div>
        </div>

        <div class="row">
            <input type="image" style="filter: grayscale(100%)" th:src="@{images/ICOs/OK.png}" alt="Submit" height="100">
        </div>
        <div class="row" style="margin: -30px 0 0 0">Submit</div>

<!--        <div class="row">-->
<!--            <button type="submit" value="Submit">Submit</button>-->
<!--        </div>-->

    </div>
</form>

</body>
</html>