<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Management panel for new Jedi creation and Jedi Order set">
    <meta name="keywords" content="Jedi, StarWars, JediOrder">
    <meta http-equiv="X-UA-Compatibile" content="IE=edge,chrome=1">
    <meta name="author" content="Rav the entry level Jedi warrior:)">
    <link rel="stylesheet" type="text/css" media="all" href="css/styleMain.css">
    <title>Main Panel</title>
</head>

<body>

<header class="background">
    <ul id="menu">
        <li><a href="/">ABOUT</a></li>
<!--        <li><a href="#">NEW ORDER</a></li>-->
        <li><a href="/newWarrior">NEW WARRIOR</a></li>
        <li><a href="/jediOrder">JEDI ORDER</a></li>
        <li><a href="/sithOrder">SITH ORDER</a></li>
        <li><a class="current" href="swapi">SWAPI</a></li>
        <form class="logout" method="post" th:action="@{/logout}">
            <li><input type="submit" value="LOGOUT"/></li>
        </form>
    </ul>
    <h3>Dear <span th:text="${loggedUserName}" style="color: red">LOGGED_USER_NAME</span>,
        would you like to ask the Star Wars API ? (by Paul Hallett)
    </h3>
</header>

<section>
    <br/>

    <form id="byID" action="#" th:action="@{/swapiByID}" th:object="${requestToSwapiID}" method="post">
        <fieldset>
            <legend>. by ID .</legend>
            <div style="text-align: center">
                <h3>Search for your favorite character by ID: </h3>
                <!--            <p style="font-size: small; line-height: 130%; margin-top: -30px">-->
                <!--                (*) - <a href="https://swapi.dev/">The Star Wars API</a> is a tremendous source of Star Wars knowledge,<br/>here-->
                <!--                you can walk through characters by selecting their ID numbers (from 1 to 83)-->
                <!--            </p>-->
                <input name="requestID" type="text" placeholder="Number from 1 to 83" th:field="*{requestID}">
                <br/>
                <div class="ThError" th:if="${#fields.hasErrors('requestID')}" th:errors="*{requestID}">ERROR_MESSAGE</div>
                <button type="submit" value="byID">and press here</button>
            </div>
        </fieldset>
    </form>

    <br/>

    <form id="bySEARCH" action="#" th:action="@{/swapiBySEARCH}" th:object="${requestToSwapiSEARCH}" method="post">
        <fieldset>
            <legend>. by NAME .</legend>
            <div style="text-align: center">
                <h3>Search for your favorite character by NAME: </h3>
                <!--            <p style="font-size: small; line-height: 130%; margin-top: -30px">-->
                <!--                (*) - <a href="https://swapi.dev/">The Star Wars API</a> is a tremendous source of Star Wars knowledge,<br/>here-->
                <!--                you can walk through characters by their names (eg. r2)-->
                <!--            </p>-->
                <input name="requestSEARCH" type="text" placeholder="Character's name ..." th:field="*{requestSEARCH}">
                <br/>
                <div class="ThError" th:if="${#fields.hasErrors('requestSEARCH')}"
                      th:errors="*{requestSEARCH}">ERROR_MESSAGE</div>
                <button type="submit" value="bySEARCH">and press here</button>
            </div>
        </fieldset>
    </form>


    <form>

    </form>

</section>

</body>

</html>