<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styleMain.css">
    <title>Darth Grievous</title>
</head>

<body>

<header class="background">
    <ul id="menue">
        <li><a href="/sithOrder">BACK</a></li>
    </ul>
    <h3>May the knowledge be with you . . . Darth Grievous</h3>

    <div class="warriors">
        <img src="/images/warriors/Dark/DarthGrievous/Grievous1.png" alt="Darth Grievous">
    </div>
</header>

<section>

    <div>
        Grievous was a Kaleesh male warlord who served as a commanding officer in the military forces of the
        Confederacy of Independent Systems during the last years of the Galactic Republic. Although he was known by
        his rank as a general, Grievous was the Supreme Commander of the Separatist Droid Army that engaged the Grand
        Army of the Republic throughout the pan-galactic conflict of the Clone Wars. Noted for his ruthlessness and
        extensive cybernetic enhancements, Grievous inspired fear as he traveled across the galaxy, invading entire
        worlds and engaging the Jedi Knights of the Republic.
    </div>

    <br>
    <hr>
    <br>

    <div class="content">
        <div class="paragraph">
            A native of the planet Kalee, Grievous sustained severe injuries that required extensive repair by the
            time of the Clone Wars. Willingly submitting to a procedure that rendered him more mechanical than organic,
            he became a living weapon, granting him lightning-quick reflexes and devastating strength. Although he was
            neither Jedi or Sith, nor even sensitive to the power of the Force, Grievous was a skilled lightsaber
            duelist, having trained in the art of the lightsaber under the fallen Jedi Master-turned-Sith Lord Count
            Dooku. Known for his hatred of the Jedi Order, Grievous killed Jedi over the course of the war, and would
            claim their lightsabers both as trophies and weapons to be used against other opponents, be they Jedi or
            clone troopers.
        </div>

        <div class="paragraph">
            <img src="/images/warriors/Dark/DarthGrievous/Grievous2.png" alt="Darth Grievous">
        </div>

        <div style="clear: both"></div>
    </div>

    <div class="content">

        <div class="paragraph">
            <img src="/images/warriors/Dark/DarthGrievous/Grievous1.png" alt="Darth Grievous">
        </div>

        <div class="paragraph">
            In addition to his combat skills, Grievous was a brilliant military strategist who oversaw multiple
            campaigns throughout the Clone Wars—from the Battle of Kamino, where he failed to halt the production
            line of clone troopers; to the Battle of Dathomir, where his battle droids massacred the Nightsisters led
            by the witch Mother Talzin. In 19 BBY, Grievous launched a daring raid on Coruscant, the Republic capital
            world, resulting in the abduction of Supreme Chancellor Sheev Palpatine. However, the Jedi succeeded in
            rescuing the Chancellor while driving back the Separatist invaders. Following the loss of Dooku, Grievous
            and his army went into hiding in the Outer Rim Territories. Unknown to Grievous, his master, the Sith Lord
            Darth Sidious, betrayed the general's location to the Jedi Order, allowing them to invade the planet
            Utapau in an effort to bring a swift and decisive conclusion to the war. As a result, Grievous was
            ultimately slain by his nemesis, Jedi General Obi-Wan Kenobi, whose 212th Attack Battalion went on to
            secure Utapau even as Order 66 went into effect, marking the fall of the Republic and the rise of
            the Galactic Empire.
        </div>

        <div style="clear: both"></div>
    </div>

</section>

<footer>
    Source: Darth Grievous | Wookieepedia | Fandom
    <br><br>
    Read more: <a href="https://starwars.fandom.com/wiki/Grievous"
                  target="_blank">https://starwars.fandom.com/wiki/Grievous</a>
</footer>

</body>

</html>