<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styleMain.css">
    <title>Darth Maul</title>
</head>

<body>

<header class="background">
    <ul id="menue">
        <li><a href="/sithOrder">BACK</a></li>
    </ul>
    <h3>May the knowledge be with you . . . DARTH MAUL</h3>

    <div class="warriors">
        <img src="/images/warriors/Dark/DarthMaul/DarthMaul_face.png" alt="Darth Mual's face">
    </div>
</header>

<section>

    <div>
        Maul was a Force-sensitive Dathomirian Zabrak male and dark side warrior who served as the apprentice Dark
        Lord
        of the Sith Darth Maul during the final years of the Galactic Republic and reigned as a crime lord during
        the
        rule of the Galactic Empire. The son of Mother Talzin of the Nightsisters, he was taken at a young age by
        the
        Dark Lord of the Sith Darth Sidious, who anointed him his first Sith apprentice, Darth Maul. Through his
        training, Maul grew strong in the dark side of the Force, becoming an expert lightsaber duelist and assassin
        who
        yearned to reveal the Sith's continued survival to the Jedi Order. During the crisis on Naboo in 32 BBY,
        Maul
        confronted Jedi Master Qui-Gon Jinn and Padawan Obi-Wan Kenobi. Although he succeeded in killing the former,
        Maul was defeated and maimed by Jinn's apprentice, who left the Sith Lord for dead. As a result of Maul's
        defeat
        and apparent death, Sidious replaced him with Count Dooku, Jinn's Jedi mentor who adopted the Sith persona
        of
        Darth Tyranus.
    </div>

    <br>
    <hr>
    <br>

    <div class="content">
        <div class="paragraph">
            Fueled by his hatred for Kenobi, Maul survived and reconstructed himself as a cyborg, although the
            experience of
            his defeat also drove him insane. He was presumed dead for over a decade until his brother, Savage Opress,
            found
            Maul and restabilized his mind with the help of Mother Talzin. By that time, the Clone Wars raged across the
            galaxy, with the Jedi-led clone forces of the Republic battling the droid armies of the Confederacy of
            Independent Systems as intended by Maul's former Sith Master. Believing he had been cheated out of his place
            in
            galactic history, Maul embarked on a personal quest for revenge against Kenobi, whom he blamed for his fate.
            He
            also used the galactic conflict as an opportunity to form his own criminal empire, the Shadow Collective,
            through various alliances, which included the Pyke Syndicate, the Black Sun, the Hutt Clan, and the
            Mandalorian
            Death Watch. Their combined resources enabled Maul to overthrow the New Mandalorians and install a puppet
            government on Mandalore. However, as his power and influence increased, Maul became a threat to Sidious' own
            plans for the future. The Dark Lord confronted Maul in person; after killing Opress, Sidious denounced his
            former apprentice as a Sith no longer due to the Rule of Two. Despite Maul's efforts to avenge his brother,
            he
            was defeated and overpowered by Sidious' command of the Force.
        </div>

        <div class="paragraph">
            <img src="/images/warriors/Dark/DarthMaul/DarthMaul_torso.png" alt="Darth Maul's torso">
        </div>

        <div style="clear: both"></div>
    </div>

    <div class="content">

        <div class="paragraph">
            <img src="/images/warriors/Dark/DarthMaul/DarthMaul_full.png" alt="Darth Maul's profile">
        </div>

        <div class="paragraph">
            In the waning days of the Clone Wars, Maul escaped from Sidious and ultimately returned to Mandalore where
            he
            was overthrown by former Padawan Ahsoka Tano and an army of clone troopers. However, Maul survived the war
            and
            continued to build his own empire as a crime lord and the secret leader of Crimson Dawn. He was later
            stranded
            on the planet Malachor, where he hoped to destroy the Sith by unlocking the superweapon at the heart of the
            Sith
            temple. Maul's plan was thwarted by two Jedi, Kanan Jarrus and Ezra Bridger, the latter of whom Maul hoped
            to
            corrupt as his own apprentice. After escaping Malachor, Maul continued to try to tempt Bridger to the dark
            side
            before ultimately learning that Kenobi was still alive in spite of Order 66 and the Great Jedi Purge.
            Seeking
            hope and purpose, Maul sought Kenobi on Tatooine, the same planet where he had first revealed himself to
            Kenobi.
            In 2 BBY, Maul engaged Kenobi in a brief lightsaber duel for the last time. Kenobi cut Maul's lightsaber in
            half
            and dealt Maul a lethal blow, ending Maul's decade-spanning quest for vengeance. He died moments later with
            the
            knowledge that Kenobi was protecting Luke Skywalker, who Kenobi believed was the Chosen One, taking comfort
            in
            the fact that it meant the Sith
        </div>

        <div style="clear: both"></div>
    </div>

</section>

<footer>
    Source: Darth Maul | Wookieepedia | Fandom
    <br><br>
    Read more: <a href="https://starwars.fandom.com/wiki/Maul" target="_blank">https://starwars.fandom.com/wiki/Maul</a>
</footer>

</body>

</html>