<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styleMain.css">
    <title>Kylo Ren</title>
</head>

<body>

<header class="background">
    <ul id="menue">
        <li><a href="/sithOrder">BACK</a></li>
    </ul>
    <h3>May the knowledge be with you . . . Kylo Ren</h3>

    <div class="warriors">
        <img src="/images/warriors/Dark/KyloRen/KyloRen1.png" alt="Kylo Ren">
    </div>
</header>

<section>

    <div>
        Ben Solo was a Force-sensitive human male Jedi who, after falling to the dark side of the Force, eventually
        renounced his adopted persona of Kylo Ren and was redeemed. During the New Republic Era, he conquered much of
        the galaxy as Supreme Leader of the First Order and master of the Knights of Ren. The blood of the most
        powerful Jedi and Sith flowed through his veins, granting him raw strength in the Force. Ren embodied the
        teachings of both sides, creating much conflict within him, yet it was through discord that he derived power,
        and he learned to channel his anger into strength. Ultimately, Ren sought to build an immunity to the light
        side of the Force and destroy the last remnants of the Jedi Order, fulfilling the legacy of his grandfather—the
        Sith Lord Darth Vader.
    </div>

    <br>
    <hr>
    <br>

    <div class="content">
        <div class="paragraph">
            The man who became known as the "Jedi Killer" was born on the planet Chandrila in 5 ABY, when the Galactic
            Empire surrendered to the New Republic. The son of General Han Solo and Princess Leia Organa, Ben Solo was
            trained by his uncle, Jedi Master Luke Skywalker. After the destruction of Skywalker's Jedi temple, Solo
            renounced his family and assumed the identity of Kylo Ren, becoming a First Order warlord and the
            apprentice of Supreme Leader Snoke. Ren's descent into darkness was marked by the massacre of civilians
            and the murder of his father, but the act of patricide failed to end his inner turmoil. Believing he was
            destined to rule the galaxy, Ren assassinated Snoke and usurped the position of Supreme Leader, seizing
            both military and political control of the First Order. It was not a complete victory for him, however,
            as Rey, a Jedi apprentice whom he was growing close to, rejected his offer to rule beside him. Though
            they were sworn enemies, Ren and Rey shared a unique bond with each other, making them part of a
            prophesied dyad in the Force.
        </div>

        <div class="paragraph">
            <img src="/images/warriors/Dark/KyloRen/KyloRen2.png" alt="Kylo Ren">
        </div>

        <div style="clear: both"></div>
    </div>

    <div class="content">

        <div class="paragraph">
            <img src="/images/warriors/Dark/KyloRen/KyloRen3.png" alt="Kylo Ren">
        </div>

        <div class="paragraph">
            Supreme Leader Ren prioritized the destruction of the Resistance and the capture of Rey, viewing both as
            obstacles in his path to complete domination. The war came to a head in 35 ABY with the return of the
            Sith Lord Darth Sidious, who urged Ren to become the new Emperor by killing Rey. However, the persona
            of Kylo Ren ceased to exist after his mother died, allowing him to regain his former identity as Ben Solo.
            After the battle on Exegol, Solo sacrificed himself to revive Rey, and the two shared a kiss before he
            vanished into the Force as the last of the Skywalker bloodline.
        </div>

        <div style="clear: both"></div>
    </div>

</section>

<footer>
    Source: Kylo Ren | Wookieepedia | Fandom
    <br><br>
    Read more: <a href="https://starwars.fandom.com/wiki/Ben_Solo"
                  target="_blank">https://starwars.fandom.com/wiki/Ben_Solo</a>
</footer>

</body>

</html>