<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styleMain.css">
    <title>Leader Snoke</title>
</head>

<body>

<header class="background">
    <ul id="menue">
        <li><a href="/sithOrder">BACK</a></li>
    </ul>
    <h3>May the knowledge be with you . . . Leader Snoke</h3>

    <div class="warriors">
        <img src="/images/warriors/Dark/LeaderSnoke/LeaderSnoke1.png" alt="Leader Snoke">
    </div>
</header>

<section>

    <div>
        Snoke was a Force-sensitive humanoid male who rose to absolute power as Supreme Leader of the First Order
        during the New Republic Era. A master of the Force and a seeker of arcane lore, Snoke possessed the knowledge
        and power that made him the undisputed heir to the Contingency crafted by the Sith Lord Darth Sidious before
        his demise. Though not a Sith, Snoke was nonetheless a master of the dark side of the Force, and influenced
        Ben Solo into abandoning the Jedi path to become his apprentice, Kylo Ren.
    </div>

    <br>
    <hr>
    <br>

    <div class="content">
        <div class="paragraph">
            Secretly an artificial creation of Darth Sidious, Snoke was engineered on Exegol, a legendary
            Sith-affiliated planet hidden in the Unknown Regions, where loyalists of the Sith Eternal awaited the
            return of the Sith. In the years following the collapse of the Galactic Empire, Snoke gained command of
            the technological war machine that the First Order engineered to destroy the New Republic and General
            Leia Organa's Resistance. Snoke also sought to finish the destruction of the Jedi Order, and as such,
            he directed his apprentice to locate and kill Jedi Master Luke Skywalker.
        </div>

        <div class="paragraph">
            <img src="/images/warriors/Dark/LeaderSnoke/LeaderSnoke2.png" alt="Leader Snoke">
        </div>

        <div style="clear: both"></div>
    </div>

    <div class="content">

        <div class="paragraph">
            <img src="/images/warriors/Dark/LeaderSnoke/LeaderSnoke3.png" alt="Leader Snoke">
        </div>

        <div class="paragraph">
            After the New Republic fell in 34 ABY, Snoke oversaw the conquest of the galaxy from his headquarters
            aboard the First Order flagship Supremacy. Having lured the Jedi apprentice Rey to him through her
            bond with Ren, Snoke urged the Ren to complete his training by executing her. Ren turned on Snoke,
            however, using Skywalker's lightsaber to end his master's life. Ultimately, Snoke's entire existence
            was built for this moment: to serve as a final test for Ren. He not only tested Ren's worthiness as a
            disciple, but also his capacity to inherit the Sith legacy. His role had been designed by the Sith
            Eternal cultists to act as a final crucible, to groom and mold Ren into a master of attack and cunning.
            Ren became the new Supreme Leader of the First Order, but after encountering a revived Sidious on Snoke's
            homeworld of Exegol, he aspired to rule the galaxy as Emperor of the Final Order.
        </div>

        <div style="clear: both"></div>
    </div>

</section>

<footer>
    Source: Leader Snoke | Wookieepedia | Fandom
    <br><br>
    Read more: <a href="https://starwars.fandom.com/wiki/Snoke"
                  target="_blank">https://starwars.fandom.com/wiki/Snoke</a>
</footer>

</body>

</html>